 
on:
  push:
    branches:
      - main  # Trigger on push to the main branch
  workflow_dispatch:  # Allows manual triggering of the workflow
 
jobs:
  build:
    runs-on: ubuntu-latest
 
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
 
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
 
    - name: Log in to Google Container Registry
      env:
        GCP_SERVICE_ACCOUNT_KEY: ${{ secrets.GCPKEY }}
      run: |
        echo "${GCPKEY}" | docker login -u _json_key --password-stdin https://gcr.io
 
    - name: Build and push Docker image
      env:
        IMAGE_NAME: gcr.io/genuine-quasar-425514-f6/model-image:v1
      run: |
        docker build -t $IMAGE_NAME:latest .
        docker push $IMAGE_NAME:latest
 
    - name: Log out from Docker
      run: docker logout https://gcr.io
